body {
    background-color: #dda0dd;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Zen Maru Gothic', sans-serif;
}
button {
    padding: 5px 20px;
    background-color: #ba55d3;
    border-style: none;
    color: white;
    border-radius: 20px;
    font-family: 'Zen Maru Gothic', sans-serif;
}
button:hover {
    background-color: #ff69b4;
}
